In [1]:
import pandas as pd
import numpy as np

In [2]:
place_location = pd.read_csv('./place_address/place_location.csv', encoding="UTF-8")
cluster_base = pd.read_csv('./place_address/cluster.csv', encoding="UTF-8")

In [3]:
place_location['k_means_cluster'] = cluster_base['k_means_cluster']

In [4]:
place_location

,place,address,Latitude,Longitude,category,k_means_cluster
0,원앤온리,제주특별자치도 서귀포시 안덕면 산방로 141 원앤온리,33.239230,126.319294,카페,0
1,퍼시픽리솜 더클리프카페&펍,제주특별자치도 서귀포시 중문관광로 154-17,33.244433,126.416194,카페,0
2,카페나모나모,제주특별자치도 제주시 도두봉6길 4 1~4층,33.508209,126.472321,카페,3
3,울트라마린,제주특별자치도 제주시 한경면 일주서로 4611 지하1층,33.341404,126.189900,카페,0
4,드르쿰다in성산,제주특별자치도 서귀포시 성산읍 섭지코지로25번길 64,33.449374,126.920708,카페,1
...,...,...,...,...,...,...
1810,개다리폭포,제주특별자치도 서귀포시 색달동 3101-1,33.281411,126.411112,관광지,0
1811,세리월드 카트레이싱,제주특별자치도 서귀포시 법환동 881-2,33.246731,126.511662,관광지,2
1812,톨칸이해변,제주특별자치도 제주시 우도면 연평리,33.503319,126.955677,관광지,1
1813,다랑쉬굴,제주특별자치도 제주시 구좌읍 세화리 2608-3,33.468007,126.831497,관광지,1
1814,중엄새물,제주특별자치도 제주시 애월읍 신엄리,33.466336,126.368888,관광지,0

In [5]:
categories = ['cafe', 'motel', 'hotel', 'pension', 'resort', 'food', 'tour']

for category in categories:
    globals()['{}_popularity'.format(category)] = pd.read_csv('./review_popularity/' + '{}_popularity'.format(category)+ '.csv', encoding='UTF-8')

In [6]:
place_cafe = place_location[place_location['category']=='카페']
place_motel = place_location[place_location['category']=='모텔']
place_hotel = place_location[place_location['category']=='호텔']
place_pension = place_location[place_location['category']=='펜션']
place_resort = place_location[place_location['category']=='리조트']
place_food = place_location[place_location['category']=='식당']
place_tour = place_location[place_location['category']=='관광지']

In [7]:
def matching(place_data, poupularity_data):
    place_data['인기지수'] = np.nan
    
    place_data = place_data.reset_index()
    place_data = place_data.drop('index', axis=1)
    
    place_data['place'] = place_data['place'].str.replace(' ', '')
    
    for i in range(len(place_data)):
        place = place_data['place'][i]
        pop = poupularity_data[poupularity_data['place']==place]['인기지수'].astype(float)
        place_data['인기지수'][i] = pop
        
    return place_data

In [8]:
cafe_cluster = matching(place_cafe, cafe_popularity)
motel_cluster = matching(place_motel, motel_popularity)
hotel_cluster = matching(place_hotel, hotel_popularity)
resort_cluster = matching(place_resort, resort_popularity)
pension_cluster = matching(place_pension, pension_popularity)
tour_cluster = matching(place_tour, tour_popularity)
food_cluster = matching(place_food, food_popularity)

/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'] = np.nan
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'][i] = pop
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'] = np.nan
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'][i] = pop
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'] = np.nan
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'][i] = pop
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'] = np.nan
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'][i] = pop
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'] = np.nan
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'][i] = pop
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'] = np.nan
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'][i] = pop
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'] = np.nan
/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1931814093.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_data['인기지수'][i] = pop

## 결측치 처리

In [9]:
print(cafe_cluster.isna().sum())
print(tour_cluster.isna().sum()) # 6개 존재
print(food_cluster.isna().sum())
print(hotel_cluster.isna().sum()) # 1개 존재
print(motel_cluster.isna().sum())
print(resort_cluster.isna().sum())
print(pension_cluster.isna().sum())

place              0
address            0
Latitude           0
Longitude          0
category           0
k_means_cluster    0
인기지수               0
dtype: int64
place              0
address            0
Latitude           0
Longitude          0
category           0
k_means_cluster    0
인기지수               6
dtype: int64
place              0
address            0
Latitude           0
Longitude          0
category           0
k_means_cluster    0
인기지수               0
dtype: int64
place              0
address            0
Latitude           0
Longitude          0
category           0
k_means_cluster    0
인기지수               1
dtype: int64
place              0
address            0
Latitude           0
Longitude          0
category           0
k_means_cluster    0
인기지수               0
dtype: int64
place              0
address            0
Latitude           0
Longitude          0
category           0
k_means_cluster    0
인기지수               0
dtype: int64
place              0
address            0
Latitude           0
Longitude          0
category           0
k_means_cluster    0
인기지수               0
dtype: int64

### 관광지

In [10]:
tour_cluster[tour_cluster['인기지수'].isnull() == True]

,place,address,Latitude,Longitude,category,k_means_cluster,인기지수
156,위미동백나무군락,제주특별자치도 서귀포시 남원읍 위미중앙로300번길 23-7,33.273258,126.675935,관광지,2,NaN
174,민오름,제주특별자치도 제주시 오라이동 산 28-1,33.475227,126.507253,관광지,3,NaN
181,붉은오름,제주특별자치도 서귀포시 표선면 가시리 산 158,33.398807,126.706334,관광지,1,NaN
264,위미동백나무군락,제주특별자치도 서귀포시 남원읍 위미중앙로300번길 15,33.272906,126.675049,관광지,2,NaN
314,붉은오름,제주특별자치도 서귀포시 성산읍 섭지코지로 261,33.425755,126.931741,관광지,1,NaN
343,민오름,제주특별자치도 제주시 봉개동 산 64 일대,33.436399,126.636644,관광지,3,NaN

In [11]:
tour_popularity[tour_popularity['place']=='위미동백나무군락']

        place    insta  mean_rate  mean_num      인기지수
183  위미동백나무군락  0.00053        0.0  0.029827  0.010119
294  위미동백나무군락  0.00053        0.0  0.004710  0.001747

In [12]:
tour_cluster.loc[156, '인기지수'] = tour_popularity.loc[183, '인기지수']
tour_cluster.loc[264, '인기지수'] = tour_popularity.loc[294, '인기지수']

In [13]:
tour_popularity[tour_popularity['place']=='민오름']

    place     insta  mean_rate  mean_num      인기지수
201   민오름  0.002194   0.466667  0.028257  0.165706
377   민오름  0.002194   0.200000  0.004710  0.068968

In [14]:
tour_cluster.loc[174, '인기지수'] = tour_popularity.loc[201, '인기지수']
tour_cluster.loc[343, '인기지수'] = tour_popularity.loc[377, '인기지수']

In [15]:
tour_popularity[tour_popularity['place']=='붉은오름']

    place     insta  mean_rate  mean_num      인기지수
209  붉은오름  0.008079   0.466667  0.007849  0.160865
344  붉은오름  0.008079   0.666667  0.001570  0.225439

In [16]:
tour_cluster.loc[181, '인기지수'] = tour_popularity.loc[209, '인기지수']
tour_cluster.loc[314, '인기지수'] = tour_popularity.loc[344, '인기지수']

In [17]:
print(tour_cluster.isna().sum()) # 결측치 없음 확인

place              0
address            0
Latitude           0
Longitude          0
category           0
k_means_cluster    0
인기지수               0
dtype: int64

### 호텔

In [18]:
hotel_cluster[hotel_cluster['인기지수'].isnull() == True]

,place,address,Latitude,Longitude,category,k_means_cluster,인기지수
93,JW메리어트제주(2022년하반기예정),제주특별자치도 서귀포시 태평로 152,33.247167,126.55106,호텔,2,NaN

In [19]:
hotel_popularity[hotel_popularity['place']=='JW메리어트제주']

       place  insta  mean_rate  mean_num     인기지수
93  JW메리어트제주    0.0        1.0  0.025641  0.34188

In [20]:
hotel_cluster.loc[93, '인기지수'] = hotel_popularity.loc[93, '인기지수']

In [21]:
print(hotel_cluster.isna().sum()) # 결측치 없음 확인

place              0
address            0
Latitude           0
Longitude          0
category           0
k_means_cluster    0
인기지수               0
dtype: int64

## 키워드 매칭

In [23]:
food_eco = pd.read_csv('./etc_data/food_eco.csv', encoding="UTF-8")
tour_eco = pd.read_csv('./etc_data/tour_eco.csv', encoding="UTF-8")

food_eco['place'] = food_eco['place'].str.replace(' ', '')
tour_eco['place'] = tour_eco['place'].str.replace(' ', '')

In [24]:
food_cluster_key = pd.merge(food_cluster, food_eco, left_on='place', right_on='place', how='left')
tour_cluster_key = pd.merge(tour_cluster, tour_eco, left_on='place', right_on='place', how='left')

In [27]:
food_cluster_key.sort_values('환경', ascending=False)

,place,address,Latitude,Longitude,category,k_means_cluster,인기지수,환경,친환경
6,고집돌우럭중문점,제주특별자치도 서귀포시 일주서로 879 1층,33.257993,126.416760,식당,0,0.627154,5,2
276,모메존흑돼지,제주특별자치도 제주시 구좌읍 세화1길 17 1층,33.525329,126.854427,식당,1,0.175736,2,0
15,칠돈가본점,제주특별자치도 제주시 서천길 1 1층,33.501532,126.510698,식당,3,0.108777,2,0
245,돈사돈월정점,제주특별자치도 제주시 구좌읍 한동북1길 29-3 1층,33.541128,126.828098,식당,1,0.125851,2,0
137,성산일출봉청운식당,제주특별자치도 서귀포시 성산읍 일출로 285 1층,33.463053,126.934895,식당,1,0.301816,2,0
...,...,...,...,...,...,...,...,...,...
105,오롯,제주특별자치도 제주시 신설로11길 2-10 1층,33.491280,126.544574,식당,3,0.215330,0,0
104,제주약수터본점,제주특별자치도 서귀포시 중앙로 35 1층,33.247709,126.561723,식당,2,0.257098,0,0
103,은희네해장국2호점,제주특별자치도 제주시 연북로 178,33.481375,126.500354,식당,3,0.111727,0,0
102,안녕협재씨제주협재점,제주특별자치도 제주시 한림읍 금능길 12 1층,33.388137,126.229488,식당,0,0.208320,0,0
303,씨에스호텔카노푸스다이닝,제주특별자치도 서귀포시 중문관광로 196,33.243504,126.419877,식당,0,0.189681,0,0

In [28]:
food_cluster_key = food_cluster_key.sort_values(['환경', '친환경'], ascending=False)

In [29]:
tour_cluster_key = tour_cluster_key.sort_values(['환경', '친환경'], ascending=False)

In [31]:
food_cluster_key.to_csv('./etc_data/food_cluster_key.csv', header=True, index=False, encoding="UTF-8")
tour_cluster_key.to_csv('./etc_data/tour_cluster_key.csv', header=True, index=False, encoding="UTF-8")

## 클러스터별 분할

In [32]:
def set_cluster(data):
    c0 = data[data['k_means_cluster']==0]
    c1 = data[data['k_means_cluster']==1]
    c2 = data[data['k_means_cluster']==2]
    c3 = data[data['k_means_cluster']==3]
    return c0, c1, c2, c3

In [33]:
cafe_cluster_0, cafe_cluster_1, cafe_cluster_2, cafe_cluster_3 = set_cluster(cafe_cluster)
food_cluster_0, food_cluster_1, food_cluster_2 ,food_cluster_3 = set_cluster(food_cluster)
tour_cluster_0, tour_cluster_1, tour_cluster_2, tour_cluster_3 = set_cluster(tour_cluster)
hotel_cluster_0, hotel_cluster_1, hotel_cluster_2, hotel_cluster_3 = set_cluster(hotel_cluster)
motel_cluster_0, motel_cluster_1, motel_cluster_2, motel_cluster_3 = set_cluster(motel_cluster)
resort_cluster_0, resort_cluster_1, resort_cluster_2, resort_cluster_3 = set_cluster(resort_cluster)
pension_cluster_0, pension_cluster_1, pension_cluster_2, pension_cluster_3 = set_cluster(pension_cluster)

In [35]:
for category in categories:
    for i in range(0, 4):
        globals()['{}_cluster_{}'.format(category, i)].to_csv('./cluster/' + '{}_cluster_{}'.format(category, i) + '.csv', header=True, index=False, encoding="UTF-8")

In [37]:
food_cluster_3

,place,address,Latitude,Longitude,category,k_means_cluster,인기지수
1,숙성도노형점,제주특별자치도 제주시 원노형로 41,33.485028,126.485096,식당,3,0.175868
2,우진해장국,제주특별자치도 제주시 서사로 11,33.511488,126.520086,식당,3,0.423390
3,고집돌우럭제주공항점,제주특별자치도 제주시 임항로 30,33.516343,126.528175,식당,3,0.397567
4,고집돌우럭함덕점,제주특별자치도 제주시 조천읍 신북로 491-9 2층,33.543031,126.662722,식당,3,0.434092
7,이춘옥의원조고등어쌈밥,제주특별자치도 제주시 애월읍 일주서로 7213 1층,33.488953,126.418707,식당,3,0.227404
...,...,...,...,...,...,...,...
288,용꽈배기,제주특별자치도 제주시 서광로30길 3,33.499910,126.527026,식당,3,0.208766
293,돌하르방식당본점,제주특별자치도 제주시 신산로11길 53,33.510047,126.538793,식당,3,0.181193
294,연탄과친한돼지,제주특별자치도 제주시 원노형로 61,33.483166,126.485124,식당,3,0.179012
299,캠퍼트리호텔앤리조트더뷰,제주특별자치도 제주시 해안마을서4길 100,33.453696,126.450356,식당,3,0.333434
300,황가네뚝배기,제주특별자치도 제주시 삼무로11길 24,33.491559,126.495854,식당,3,0.123652

## 친환경 매장 찾기

In [38]:
place_location['place'] = place_location['place'].str.replace(' ', '')
place_location['property'] = 0

In [39]:
zero_waste = ['알맞은시간', 'AND유CAFE', '제주소녀', '발트글라스', '고집돌우럭', '펜고호다', '어나더페이지', '북스페이스곰곰', '지구별가게', '꽃마리협동조합', '핸드메이드라이프', '제주용기']
green_store = ['롯데마트','뉴월드마트', '마트로', '바이올가', '제주용기']

In [40]:
for i in range(len(place_location)):
    name = place_location['place'][i]
    for store in zero_waste:
        if name.find(store) > -1 or name == store:
            place_location['property'][i] = 1
    for store in green_store:
        if name.find(store) > -1 or name == store:
            place_location['property'][i] = 1

/var/folders/_t/yrhf8bh167g1b6qb6gqjrf_c0000gn/T/ipykernel_1710/1992863097.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  place_location['property'][i] = 1

In [41]:
place_location[place_location['property']==1]

,place,address,Latitude,Longitude,category,k_means_cluster,property
413,고집돌우럭제주공항점,제주특별자치도 제주시 임항로 30,33.516343,126.528175,식당,3,1
414,고집돌우럭함덕점,제주특별자치도 제주시 조천읍 신북로 491-9 2층,33.543031,126.662722,식당,3,1
416,고집돌우럭중문점,제주특별자치도 서귀포시 일주서로 879 1층,33.257993,126.416760,식당,0,1

In [51]:
green = pd.DataFrame()

for i in range(len(food_cluster)):
    name = food_cluster['place'][i]
    if name.find('고집돌우럭') > -1:
        # print(food_cluster.loc[i])
        green[i] = food_cluster.loc[i]

In [52]:
green

,3,4,6
place,고집돌우럭제주공항점,고집돌우럭함덕점,고집돌우럭중문점
address,제주특별자치도 제주시 임항로 30,제주특별자치도 제주시 조천읍 신북로 491-9 2층,제주특별자치도 서귀포시 일주서로 879 1층
Latitude,33.516343,33.543031,33.257993
Longitude,126.528175,126.662722,126.41676
category,식당,식당,식당
k_means_cluster,3,3,0
인기지수,0.397567,0.434092,0.627154